<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Adam Sandberg Eriksson</string>
	<key>Builder Version</key>
	<string>11601.2.7.2</string>
	<key>CFBundleDisplayName</key>
	<string>Pinboard read later</string>
	<key>CFBundleIdentifier</key>
	<string>com.adamse.pinboardreadlater</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>PinboardMenu</string>
				<key>Menu Items</key>
				<array>
					<dict>
						<key>Command</key>
						<string>PinboardViewBookmarks</string>
						<key>Disabled</key>
						<false/>
						<key>Identifier</key>
						<string>PinboarViewBookmarks</string>
						<key>Submenu</key>
						<string>PinboardMenu</string>
						<key>Title</key>
						<string>View bookmarks</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>PinboardReadLater</string>
				<key>Identifier</key>
				<string>PinboardReadLater</string>
				<key>Image</key>
				<string>icons/readlater.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Read later</string>
				<key>Menu</key>
				<string>PinboardMenu</string>
				<key>Palette Label</key>
				<string>Pinboard read later</string>
			</dict>
		</array>
	</dict>
	<key>Description</key>
	<string>Toolbar button to add active tab to Pinboards read later</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/adamse/read-later-safari</string>
</dict>
</plist>
